[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
coverage = "*"
dj-database-url = "*"
django = "*"
django-heroku = "*"
djangorestframework = "*"
flake8 = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"

[requires]
python_version = "3.7.2"
